<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Users</title>
</head>

<body>
    <header>
        <h1>User Registration</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="products">Products</a></li>
                <li><a href="#">Users</a></li>
            </ul>
        </nav>
    </header>

    <form action="/users" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <input type="submit" value="Register">
    </form>
</body>

</html>