body {
    background-color:#5A5547;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

h1, h2{
    color:blue;
}

p>span{
    color: yellow;
}

a:link{
    color: red;
}

ol a:hover{
    background-color: aquamarine;
}